// {{.GlobalGraph.GeneratedPrelude}}

package {{.GlobalGraph.GeneratedPkgName}}

import(
	{{ range .Imports }}
	"{{. -}}"
	{{ end }}
	"fmt"
	"strings"
)

{{ $entPkgName := .GlobalGraph.EntPkgName -}}
{{ $graph := .GlobalGraph -}}
{{ $nodeName := .TargetNode.Name -}}
{{ $filterPkgName := "filter" -}}
{{ $entPredicatePkgName := "predicate" -}}
{{ $nodePredicatePkgName := .EntNodePredicatePkgName -}}
{{ $entClientType := printf "*%s.%s" $entPkgName "Client" }}

// { 
type {{$nodeName}} struct {
  *{{$entPkgName}}.{{$nodeName}}
  Edges interface{} `json:"-"` // no need the edges from base class
  {{ range $graph.GetEdgesAlias $nodeName -}}
  {{- $edgeAlias := . -}}
  {{- $edge := $edgeAlias.To -}}
  {{- $edgeNode := $edge.Type -}}
  {{ if or (eq $edge.Rel.Type.String "O2O") (eq $edge.Rel.Type.String "M2O") -}}
  {{ToFirstCharacterUpper $edgeAlias.Alias }} *{{$edgeNode.Name}} `json:"{{$edgeAlias.Alias}},omitempty"`
  {{ else if or (eq $edge.Rel.Type.String "O2M") (eq $edge.Rel.Type.String "M2M") -}}
  {{ToFirstCharacterUpper $edgeAlias.Alias }} []*{{$edgeNode.Name}} `json:"{{$edgeAlias.Alias}},omitempty"`
  {{else -}}
    generate error: undefined ent relation type: {{$edge.Rel.Type.String}}
  {{- end }}
  {{- end }}
}

func (this *{{$nodeName}}) fromEnt{{$nodeName}}(base *{{$entPkgName}}.{{$nodeName}},selector *{{$nodeName}}FieldsSelector)error{
  this.{{$nodeName}} = base

  {{- range $graph.GetEdgesAlias $nodeName -}}
  {{- $edgeAlias := . -}}
  {{- $edge := $edgeAlias.To -}}
  {{- $edgeNode := $edge.Type }}
  if selector.{{$edgeAlias.Alias}}Edges != nil{
    {{ if or (eq $edge.Rel.Type.String "O2O") (eq $edge.Rel.Type.String "M2O")}}
      edgeNode := &{{$edge.Type.Name}}{}
      err := edgeNode.fromEnt{{$edge.Type.Name}}(base.Edges.{{ToFirstCharacterUpper $edge.Name}},selector.{{$edgeAlias.Alias}}Edges)
      if err != nil{
        return err
      }
    this.{{ToFirstCharacterUpper $edgeAlias.Alias }} = edgeNode
    {{ else if or (eq $edge.Rel.Type.String "O2M") (eq $edge.Rel.Type.String "M2M")}}
      edgeNodes := make([]*{{$edge.Type.Name}},0,len(base.Edges.{{ToFirstCharacterUpper $edge.Name}}))
      for _,v := range base.Edges.{{ToFirstCharacterUpper $edge.Name}}{
        edgeNode := &{{$edge.Type.Name}}{}
        err := edgeNode.fromEnt{{$edge.Type.Name}}(v,selector.{{$edgeAlias.Alias}}Edges)
        if err != nil{
          return err
        }
        edgeNodes = append(edgeNodes,edgeNode)
      }
      this.{{ToFirstCharacterUpper $edgeAlias.Alias }} = edgeNodes
    {{else}}
      generate error: undefined ent relation type: {{$edge.Rel.Type.String}}
    {{end}}
  }
  {{end }}
  return nil
}

// }

func {{.GenerateCreateFuncName}} (ctx context.Context,fieldsData map[string]interface{},entCli *{{ $entPkgName }}.Client)(id {{ template "fieldTypeStr" .TargetNode.ID.Type.Type }},outErr error){
  mutation := entCli.{{ $nodeName }}.Create()
  for k,v := range fieldsData {
    _ = v
    switch k {
    {{- range .TargetNode.AllFldsIncludePK -}}
    {{- $field := . -}}
    {{ if $field.UserDefined }}
    case "{{ $field.Name }}":
      value,err := {{$nodeName}}{{$field.StructField}}ValueFromInterface(v)
      if err != nil {
        outErr = fmt.Errorf("field {{$field.Name}} type not match for node {{$nodeName}}: %w",err)
        return 
      }
      mutation.Set{{ $field.StructField }}(value)
    {{- else }}
      case "{{$field.Name}}":
      outErr = fmt.Errorf("field {{$field.Name}} is auto generated, do not set value to the field")
      return
    {{- end -}}
    {{- end }}
    default:
      outErr = fmt.Errorf("undefined field %s for node {{$nodeName}}",k)
      return 
    }
  }
  record,err := mutation.Save(ctx)
  if err != nil {
    outErr = err
    return
  }
  return record.{{.TargetNode.ID.StructField}},nil
}

func {{.GeneratedQueryFuncName}} (ctx context.Context,req *{{.GlobalGraph.Generated_QueryRequestStructName}},entCli {{$entClientType}})([]*{{$nodeName}},error ){
	var pred {{$entPredicatePkgName}}.{{$nodeName}}
	if len(req.Filter) > 0{
    var err error
    pred,err = ParseFilterTo{{$nodeName}}Predicate(req.Filter)
		if err != nil{
			return nil,err
		}
	}
	query := entCli.{{$nodeName}}.Query().Limit(req.PageSize).Offset(req.PageIndex * req.PageSize)
	if pred != nil{
		query = query.Where(pred)
	}

  // { fields selector
  fldSelector,err := Parse{{$nodeName}}FieldsSelector(req.Fields)
  if err != nil{
    return nil,err
  }
  // }

	records,err :=  query.All(ctx)
  if err != nil{
    return nil,err
  }
  // { convert to our node struct
  nodes := make([]*{{$nodeName}},0,len(records))
  for _,r := range records{
    node := &{{$nodeName}}{}
    err := node.fromEnt{{$nodeName}}(r,fldSelector)
    if err != nil{
      return nil,err
    }
    nodes = append(nodes,node)
  }
  // }

  return nodes,nil
}

func {{.GeneratedCountFuncName}} (ctx context.Context,entCli {{$entClientType}},filter string)(int,error){
  query := entCli.{{$nodeName}}.Query()
  if len(filter)>0{
    pred,err := ParseFilterTo{{$nodeName}}Predicate(filter)
    if err != nil{
      return 0, err
    }
    query.Where(pred)
  }
  return query.Count(ctx)
}

func ParseFilterTo{{$nodeName}}Predicate(filterStr string)({{$entPredicatePkgName}}.{{$nodeName}},error){
  if len(filterStr) == 0{
    return nil,fmt.Errorf("length of filter can not be 0")
  }
  filterExpr,err := {{$filterPkgName}}.ParseFilter(filterStr)
  if err != nil{
    return nil,err
  }
  pred,err := To{{$nodeName}}Predicate(filterExpr)
  if err != nil{
    return nil,err
  }
  return pred,nil
}

{{$filterVisitorName := (printf "FilterVisitor%s" $nodeName) }}

func To{{$nodeName}}Predicate(filterExpr {{$filterPkgName}}.Expr)({{$entPredicatePkgName}}.{{$nodeName}},error){
visitor := &{{$filterVisitorName}}{}
  v,err := filterExpr.Accept(visitor)
  if err != nil {
    return nil,err
  }
  return visitor.predicateFromVisitorResult(v),nil
}

type {{$filterVisitorName}} struct{}

func (this *{{$filterVisitorName}}) predicateFromVisitorResult(v interface{})({{$entPredicatePkgName}}.{{$nodeName}}){
	return v.({{$entPredicatePkgName}}.{{$nodeName}})
}

func(this *{{$filterVisitorName}})	VisitBinaryLogicalExpr(expr *{{$filterPkgName}}.BinaryLogicalExpr)(interface{},error){
	var logicalOperator = expr.Op

	left,err := expr.Left.Accept(this)
	if err != nil{
		return nil,err
	}
	right,err := expr.Right.Accept(this)
	if err != nil{
		return  nil,err
	}

	leftPred :=  this.predicateFromVisitorResult(left)
	rightPred :=  this.predicateFromVisitorResult(right)

	switch logicalOperator.Tpe{
		case {{$filterPkgName}}.TokenType_KW_And:
		return {{$nodePredicatePkgName}}.And(
			leftPred,
			rightPred,
		), nil
		case {{$filterPkgName}}.TokenType_KW_Or:
		return {{$nodePredicatePkgName}}.Or(
			leftPred,
			rightPred,
		), nil

	default:
		return nil,fmt.Errorf("unexptect logical operator %s",expr.Op.Literal)
	}
}


{{- define "generatePredicate" }}
				{{- $field := .Field -}}
				{{- $op := .Op -}}
				{{- $nodeName := .NodeName}}
				{{- $nodePredicatePkgName := .NodePredicatePkgName}}
				{{- if eq $field.Type.Type.String "string"  -}}
					if expr.Right.IsNumber(){
						return  nil,fmt.Errorf("the field {{$field.Name}} of node {{$nodeName}} type not matched, expect string but get number")
					}
					return {{$nodePredicatePkgName}}.{{$field.StructField}}{{$op}}(expr.Right.GetStringValue()),nil
				{{- else if  eq $field.Type.Type.String "int" -}}
					if !expr.Right.IsNumber(){
						return nil,fmt.Errorf("the field {{$field.Name}} of node {{$nodeName}} type not matched, expect number but get string")
					}
					return {{$nodePredicatePkgName}}.{{$field.StructField}}{{$op}}(int(expr.Right.GetNumberValue())),nil
				{{- else if eq $field.Type.Type.String "int32" -}}
					if !expr.Right.IsNumber(){
						return nil,fmt.Errorf("the field {{$field.Name}} of node {{$nodeName}} type not matched, expect number but get string")
					}
					return {{$nodePredicatePkgName}}.{{$field.StructField}}{{$op}}(int32(expr.Right.GetNumberValue())),nil
					
				{{- else if eq $field.Type.Type.String "int64" -}}
					if !expr.Right.IsNumber(){
						return nil,fmt.Errorf("the field {{$field.Name}} of node {{$nodeName}} type not matched, expect number but get string")
					}
					return {{$nodePredicatePkgName}}.{{$field.StructField}}{{$op}}(int64(expr.Right.GetNumberValue())),nil

				{{- else if eq $field.Type.Type.String "float" -}}
					if !expr.Right.IsNumber(){
						return nil,fmt.Errorf("the field {{$field.Name}} of node {{$nodeName}} type not matched, expect number but get string")
					}
					return {{$nodePredicatePkgName}}.{{$field.StructField}}{{$op}}(float(expr.Right.GetNumberValue())),nil

				{{- else if eq $field.Type.Type.String "float32" -}}
					if !expr.Right.IsNumber(){
						return nil,fmt.Errorf("the field {{$field.Name}} of node {{$nodeName}} type not matched, expect number but get string")
					}
					return {{$nodePredicatePkgName}}.{{$field.StructField}}{{$op}}(float32(expr.Right.GetNumberValue())),nil

				{{- else if eq $field.Type.Type.String "float64" -}}
					if !expr.Right.IsNumber(){
						return nil,fmt.Errorf("the field {{$field.Name}} of node {{$nodeName}} type not matched, expect number but get string")
					}
					return {{$nodePredicatePkgName}}.{{$field.StructField}}{{$op}}(float64(expr.Right.GetNumberValue())),nil
				{{- else -}}
					Unexpected node.Field.Type {{$field.Type.Type.String}}
				{{- end }}
{{- end }}


func(this *{{$filterVisitorName}})	VisitComparisionExpr(expr *{{$filterPkgName}}.ComparisionExpr)(interface{},error){
	paths := strings.Split(expr.Left.GetStringValue(),".")
	if len(paths) == 1{
		var field = paths[0]
		switch field {
		{{ range .TargetNode.AllFldsExlucdePK}}
		{{ $field := . }}
		case "{{$field.Name}}":
			switch expr.Op.Tpe {
				case {{$filterPkgName}}.TokenType_KW_Eq:
					{{ template "generatePredicate" (buildGenPredicateParam $field "EQ")}}
				case {{$filterPkgName}}.TokenType_KW_Ne:
					{{ template "generatePredicate" (buildGenPredicateParam $field "NEQ")}}
				case {{$filterPkgName}}.TokenType_KW_Lt:
					{{ template "generatePredicate" (buildGenPredicateParam $field "LT")}}
				case {{$filterPkgName}}.TokenType_KW_Le:
					{{ template "generatePredicate" (buildGenPredicateParam $field "LTE")}}
				case {{$filterPkgName}}.TokenType_KW_Gt:
					{{ template "generatePredicate" (buildGenPredicateParam $field "GT")}}
				case {{$filterPkgName}}.TokenType_KW_Ge:
					{{ template "generatePredicate" (buildGenPredicateParam $field "GTE")}}
				case {{$filterPkgName}}.TokenType_KW_Like:
					{{- if eq $field.Type.Type.String "string" -}}
					{{ template "generatePredicate" (buildGenPredicateParam $field "Contains")}}
					{{- else -}}
					return nil,fmt.Errorf("field {{$field.StructField}} of node {{$nodeName}} is not string type, cannot use like operator")
					{{- end }}
				default: 
					return nil, fmt.Errorf("unexptected comparision operator %s",expr.Op.Literal)
			}
		{{end}}
		default:
			return nil, fmt.Errorf("undefined field < %s > for node < %s >",field,"{{$nodeName}}")
		}
	}else{ // filter for edge alias
    edge := paths[0]
    // check if edge alias exists
    switch edge{
    {{ range $graph.GetEdgesAlias $nodeName -}}
    {{$edgeAlias := .}}
    case "{{$edgeAlias.Alias}}": // find the matched node by the edge alias
      p,err := ParseFilterTo{{$edgeAlias.To.Type.Name}}Predicate(
        fmt.Sprintf(
          "%s %s %s",
          strings.Join(paths[1:],"."),
          expr.Op.Literal,
          expr.Right.Literal,
        ),
      )
      if err != nil{
        return nil,err
      }
      return {{$nodePredicatePkgName}}.Has{{ ToFirstCharacterUpper $edgeAlias.To.Name }}With(p), nil
    {{end}}
    default:
      return nil,fmt.Errorf("undefined edge alis < %s > for node < {{$nodeName}}>",edge)
    }
	}
}


func(this *{{$filterVisitorName}})	VisitUnaryExpr(expr *{{$filterPkgName}}.UnaryExpr)(interface{},error){
	var operator = expr.Op
	result,err := expr.Expr.Accept(this)
	if err != nil{
		return nil, err
	}
	switch operator.Tpe{
		case {{$filterPkgName}}.TokenType_KW_Not:
    return {{$nodePredicatePkgName}}.Not(this.predicateFromVisitorResult(result)),nil
		default:
			return nil, fmt.Errorf("unexptect unary operator %s",operator.Literal)
	}
}

{{- define "fieldTypeStr" -}}
  {{.String}}
{{- end }}

{{ range .TargetNode.AllFldsIncludePK -}}
  {{- $field := . }}
func {{$nodeName}}{{$field.StructField}}ValueFromInterface(v interface{})(value {{ template "fieldTypeStr" $field.Type.Type}},err error){
  {{$fieldTypeInGoTypeStr := $field.Type.Type.String }} // TODO sync with fieldTypeStr
  var ok bool
  value,ok = v.({{ template "fieldTypeStr" $field.Type.Type}})
  if !ok {
    err = fmt.Errorf("The type of The field <$field.Name> of node < {{$nodeName}}> is  {{$fieldTypeInGoTypeStr}}")
    return
  }

  return
}
{{ end }}

func Parse{{$nodeName}}FieldsSelector(fieldsStr string)(*{{$nodeName}}FieldsSelector,error){
  fields := strings.Split(fieldsStr,",")
  selector := &{{$nodeName}}FieldsSelector{
    Fields: make([]string,0,len(fields)),
  }
  for _,f := range fields {
    err := selector.AddField(f)
    if err != nil{
      return nil, err
    }
  }
  return selector,nil
}

type {{$nodeName}}FieldsSelector struct{
  SelectAllField bool
  Fields []string
  {{- range $graph.GetEdgesAlias $nodeName -}}
  {{- $edgeAlias := . -}}
  {{- $edgeNode := $edgeAlias.To.Type}}
  {{$edgeAlias.Alias}}Edges *{{$edgeNode.Name}}FieldsSelector
  {{end}}
}

func (this *{{$nodeName}}FieldsSelector) AddField(field string) error{
  elems := strings.Split(field,".")
  if  len(elems) == 1{
    f := elems[0]
    if f == "*"{
      this.SelectAllField = true
      return nil
    }
    this.Fields = append(this.Fields,f)
  }else{
      edgeAlias := elems[0]
      switch edgeAlias{
        {{range $graph.GetEdgesAlias $nodeName -}}
          {{$edgeAlias := .}}
          {{- $edge := $edgeAlias.To -}}
          {{- $edgeNode := $edge.Type }}
          case "{{$edgeAlias.Alias}}":
          f := strings.Join(elems[1:],".")
          if this.{{$edgeAlias.Alias}}Edges == nil{
            var err error
            this.{{$edgeAlias.Alias}}Edges,err = Parse{{$edgeNode.Name}}FieldsSelector(strings.Join(elems[1:],"."))
            if err != nil{
              return err
            }
          }else{
            err := this.{{$edgeAlias.Alias}}Edges.AddField(f)
            if err != nil{
              return err
            }
          }
        {{end -}}
        default:
          return fmt.Errorf("undefined edge alias %s for node {{$nodeName}}",edgeAlias)
      }
  }
  return nil
}

func (this *{{$nodeName}}FieldsSelector) Select(query *{{$entPkgName}}.{{$nodeName}}Query)error{
  if !this.SelectAllField{
    query.Select(this.Fields...)
  }
  {{- range $graph.GetEdgesAlias $nodeName -}}
    {{- $edgeAlias := . -}}
    {{- $edge := $edgeAlias.To -}}
    {{- $edgeNode := $edge.Type }}
    if this.{{$edgeAlias.Alias}}Edges != nil{
      query.With{{ ToFirstCharacterUpper $edge.Name }}(
        func(query *{{$entPkgName}}.{{$edgeNode.Name}}Query){
           this.{{$edgeAlias.Alias}}Edges.Select(query)
        },

      )
    }
  {{end }}
  return nil
}
