// {{.GlobalGraph.GeneratedPrelude}}

package {{.GlobalGraph.GeneratedPkgName}}

type {{.GlobalGraph.Generated_QueryRequestStructName}} struct{
	Filter string
  Fields string
	PageIndex int
	PageSize int
}

type {{.GlobalGraph.Generated_UpdateRequestStructName}} struct{
  Filter string
  Data map[string]any
}

type Error struct{
  Code int `json:"code"`
  Reason string `json:"reason"`
  Message string `json:"message"`
}